.aquarium {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.aquarium-fishes_container {
  height: 100%;
  overflow-y: auto;
}

.aquarium-fishes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
}

.aquarium-fishes article {
  padding: 1rem;
  width: 18vw;
}
