.form-picker {
  overflow: hidden;
  position: relative;
}

.form-picker-modal {
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--color_primary-light);
  position: fixed;
  transform: translateY(100%);
  transition: transform 1s ease;
  z-index: 1;
}

.form-picker-modal_open {
  transform: translateY(0);
}

.form-picker-header {
  background-color: var(--color_primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  height: 15vh;
}

.form-picker-title {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
}

.form-picker-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  height: 85vh;
  width: 90%;
  margin-left: 5%;
}

button.fish-picker-button {
  margin: 1rem;
  background-color: white;
  border: 1px solid white;
}

.form-picker-button-close {
  background: none;
  border: none;
}

button.fish-picker-button-modal_open {
  display: none;
}

.fish-info-buttons {
  display: flex;
}

svg.fish-info-button {
  color: rgba(255, 255, 255, 0.54);
}

@media (max-width: 750px) {
  h2.form-picker-title {
    font-size: 1.5rem;
  }

  div.form-picker-content {
    padding: 0;
  }
}
