.aquarium-data .occupation-first_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aquarium-data .occupation-first_line-fish_number {
  display: flex;
}

.occupation-bar {
  margin-top: 0.5rem;
}

@media (max-width: 750px) {
  .aquarium-data .occupation-first_line,
  .aquarium-data .occupation-second_line {
    padding: 0 0.5rem;
  }

  .aquarium-data .occupation-first_line-fish_number {
    display: none;
  }
}
