.app-button {
  border: 1px solid #00232c;
  border-radius: 24px;
  font-family: Dosis;
  font-size: 20px;
  font-weight: 800;
  padding: 0 24px;
  margin: 0;
  height: 48px;
  background: transparent;
  cursor: pointer;

  z-index: 1;
  transition: color 1s ease-out;

  position: relative;
  overflow: hidden;
}

.app-button:hover {
  color: white;
}

.app-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 150%;
  height: 6rem;

  background: no-repeat url("/wave.svg") center/100%;
  background-size: cover;
  transition: transform 2s ease-out;
  transform: rotate(10deg) translate(-20%, 45%);
}

.app-button.long:after {
  height: 6rem;
  transform: rotate(5deg) translate(-20%, 50%);
}

.app-button:hover:after {
  transform: rotate(0deg) translate(-20%, -50%);
}
