.aquarium-data {
  width: 50vw;
  padding: 2rem 10vw;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 var(--color_primary-dark);
  background-color: var(--color_primary-light);
}

.aquarium-data h2 {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: var(--breakpoint_tiny)) {
  .aquarium-data {
    width: 100vw;
    padding: 0;
    margin-top: 0;
    border-radius: 0 0 24px 24px;
  }
}
