.progress-bar {
  background: no-repeat var(--color_primary-gradient), var(--color_neutral);
  border-radius: 0.24rem;
  border: 1px solid var(--color_primary-dark);
  text-align: right;
  padding: 0.12rem 0.5rem 0 0;
}

.progress-bar_full {
  background: no-repeat
      linear-gradient(to left, var(--color_secondary), var(--color_secondary)),
    var(--color_neutral);
}
