.capacity {
  height: 100vh;
}

.capacity header h1 {
  display: block;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 12vh;
}

.capacity .content {
  width: 80vw;
  height: 70vh;
  margin-top: 10vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  border-radius: 8px;
  box-shadow: 0 0 10px 0 var(--color_primary-light);
  background: var(--color_primary-light);
}

.capacity .capacity-field-class {
  width: 50%;
  margin-left: 25%;
}

.capacity .content h2 {
  padding: 1rem;
}

.capacity .content form {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 750px) {
  .capacity header {
    display: none;
  }

  .capacity .content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }

  .capacity .content form {
    padding: 2rem;
  }

  .capacity .capacity-field-class {
    width: 75%;
    margin-left: 12.5%;
  }
}
