#particles-js canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: var(--color_primary-dark);
  z-index: -100;
}
